input[type="button"] {
    border-radius: 5px;
    padding: 7px;
    transition: 0.4s;
    background-color: rgb(235, 170, 85);
    margin: 10px 0px;
    text-align: left;
}
input[type="button"]:hover {
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}
input[type="button"]:active {
    transform: scale(0.9);
    background-color: #f8cb8d;
}
form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    border: black;
    width: 340px;
}
#titulo {
    font-weight: bold;
}
table{
    font-size: 50px;
    text-align: center;
 }
.centralizado{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
fieldset{
    border-color: #f8cb8d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.caixa{
    font-size: 30px;
    text-align: center;
    width: 70px;
 }